<mat-sidenav-container class="layout-container">
  <mat-sidenav 
    #sidenav 
    [mode]="isMobile ? 'over' : 'side'" 
    [opened]="!isMobile" 
    class="layout-sidenav">
    <mat-toolbar class="sidenav-header">SkillBridge</mat-toolbar>
    <mat-nav-list>
      @for (item of navItems; track item.route) {
        <a mat-list-item [routerLink]="item.route" routerLinkActive="active" (click)="isMobile && sidenav.close()">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="layout-toolbar">
      @if (isMobile) {
        <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <span>SkillBridge Services</span>
    </mat-toolbar>
    <div class="layout-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
